name: Update Metrics

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}      # <-- PAT here (so it can read your repos)
          committer_token: ${{ secrets.GITHUB_TOKEN }}  # <-- keep this for committing
          user: aleksandarmilacic
          filename: github-langs.svg
          base: ""
          plugin_languages: yes
          plugin_languages_ignored: html, css
          plugin_languages_sections: most-used
          plugin_languages_details: bytes-size, percentage
          plugin_languages_limit: 8
          output_action: commit
          committer_message: "chore: update metrics"
